{
	"env": {
		"browser": true,
		"es2021": true
	},
	"extends": [
		"eslint:recommended",
		"plugin:import/errors",
		"plugin:import/warnings",
		"plugin:import/typescript",
		"plugin:node/recommended",
		"plugin:promise/recommended",
		"plugin:standard/recommended",
		"plugin:prettier/recommended"
	],
	"parserOptions": {
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"quotes": ["error", "double"],
		"prettier/prettier": ["error", { "singleQuote": false }],
		"prefer-const": "error",
		"brace-style": ["error", "1tbs", { "allowSingleLine": true }]
	}
}